@import "variables";

// flex-center
@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//tabbar-icon-img
@mixin img-icon($image) {
  display: block;
  width: .4rem;
  height: .4rem;
  margin-bottom: .1rem;
  background: url($image) no-repeat center;
  background-size: cover;
}

//ellipsis
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

